@using TaxiService.Models
@model IEnumerable<TaxiService.ViewModels.RideTableRow>
@{
    ViewBag.Title = "Home";
}

@if (Session["User"] != null)
{
    if (((AppUser)Session["User"]).IsDriverBusy.Value)
    {
        <div class="alert alert-info">
            <strong>New ride!</strong> You have been assigned a ride, <a href="~/Ride/ProcessForm" class="alert-link">process it</a>!
        </div>
    }
    <h2>Home</h2>
    <table class="table table-hover table-condensed">
        <thead>
            <tr>
                <th>#</th>
                <th>Status</th>
                <th>Order Date &amp; Time</th>
                <th>Dispatcher</th>
                <th>Driver</th>
                <th>Source</th>
            </tr>
        </thead>
        <tbody id="rides">
            @foreach (var ride in Model)
            {
                <tr class="@(ride.Status == "Successful" ? "success" : ride.Status == "Failed" ? "danger" : "info")">
                    <td>@ride.Id</td>
                    <td>@ride.Status</td>
                    <td>@ride.OrderDateTime</td>
                    <td>@ride.Dispatcher</td>
                    <td>@ride.Driver</td>
                    <td>@ride.Source</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h2>Please sign in to view this page!</h2>
    <a href="~/Login/SignInForm">Sign In</a>
}