@using TaxiService.Models

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @if (Session["User"] != null)
            {
                @Html.ActionLink("Taxi Service", "Home", "Home", new { area = "" }, new { @class = "navbar-brand" })
            }
            else
            {
                @Html.ActionLink("Taxi Service", "SignInForm", "Login", new { area = "" }, new { @class = "navbar-brand" })
            }
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                @if (Session["User"] != null)
                {
                    <li>@Html.ActionLink("Home", "Home", "Home")</li>
                    if (((AppUser)Session["User"]).Role == UserRole.Dispatcher)
                    {
                        <li>@Html.ActionLink("Ride", "CreateForm", "Ride")</li>
                    }
                    else
                    {
                        if (((AppUser)Session["User"]).IsDriverBusy.Value)
                        {
                            <li>@Html.ActionLink("Ride", "ProcessForm", "Ride")</li>
                        }
                        else
                        {
                            <li>@Html.ActionLink("Vehicle", "EditForm", "Vehicle")</li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Location <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Select", "Select", "Location")</li>
                                    <li>@Html.ActionLink("Update", "UpdateForm", "Location")</li>
                                </ul>
                            </li>
                        }
                    }
                }
            </ul>
            <ul class="nav navbar-nav navbar-right">
                @if (Session["User"] != null)
                {
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">@(((AppUser)Session["User"]).Username) <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Profile", "EditForm", "Profile")</li>
                            <li role="separator" class="divider"></li>
                            <li>@Html.ActionLink("Sign Out", "SignOut", "Login")</li>
                        </ul>
                    </li>
                }
                else
                {

                }
            </ul>
        </div>
    </div>
</div>

