@using TaxiService.Models

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @if (ViewBag.User.IsLoggedIn)
            {
                @Html.ActionLink("Taxi Service", "Home", "Home", new { area = "" }, new { @class = "navbar-brand" })
            }
            else
            {
                @Html.ActionLink("Taxi Service", "SignInForm", "Login", new { area = "" }, new { @class = "navbar-brand" })
            }
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                @if (ViewBag.User.IsLoggedIn)
                {
                    <li>@Html.ActionLink("Home", "Home", "Home")</li>
                    if (ViewBag.User.UserRole == UserRole.Driver)
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Location <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Select", "Select", "Location")</li>
                                <li>@Html.ActionLink("Update", "UpdateForm", "Location")</li>
                            </ul>
                        </li>
                    }
                }
            </ul>
            <ul class="nav navbar-nav navbar-right">
                @if (ViewBag.User.IsLoggedIn)
                {
                    <li>@Html.ActionLink("Profile", "EditForm", "Profile")</li>
                    <li>@Html.ActionLink($"{ViewBag.User.Username}, Sign Out", "SignOut", "Login")</li>
                }
                else
                {

                }
            </ul>
        </div>
    </div>
</div>

