@model TaxiService.ViewModels.RideProcessForm
@{
    ViewBag.Title = "Ride Process";
}

@if (Session["User"] != null)
{
    <div class="form-horizontal">
        <h4>Profile Edit</h4>
        <hr />
        <div class="form-group">
            @Html.LabelFor(model => model.OrderDateTime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OrderDateTime, new { htmlAttributes = new { @class = "form-control", @readonly = "" } })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.OrderLocationLongitude, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OrderLocationLongitude, new { htmlAttributes = new { @class = "form-control", @readonly = "" } })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.OrderLocationLatitude, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OrderLocationLatitude, new { htmlAttributes = new { @class = "form-control", @readonly = "" } })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.OrderLocationStreet, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OrderLocationStreet, new { htmlAttributes = new { @class = "form-control", @readonly = "" } })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.OrderLocationStreetNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OrderLocationStreetNumber, new { htmlAttributes = new { @class = "form-control", @readonly = "" } })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.OrderLocationCity, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OrderLocationCity, new { htmlAttributes = new { @class = "form-control", @readonly = "" } })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.OrderLocationPostalCode, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OrderLocationPostalCode, new { htmlAttributes = new { @class = "form-control", @readonly = "" } })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.VehicleType, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.VehicleType, new { htmlAttributes = new { @class = "form-control", @readonly = "" } })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.DispatcherFirstName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DispatcherFirstName, new { htmlAttributes = new { @class = "form-control", @readonly = "" } })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.DispatcherLastName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DispatcherLastName, new { htmlAttributes = new { @class = "form-control", @readonly = "" } })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.ActionLink("Success", "SuccessForm", new { id = Model.Id }, new { @class = "btn btn-success" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.ActionLink("Fail", "FailForm", new { id = Model.Id }, new { @class = "btn btn-danger" })
            </div>
        </div>
    </div>
}
else
{
    <h2>Please sign in to view this page!</h2>
    <a href="~/Login/SignInForm">Sign In</a>
}